[mysqld]
default_authentication_plugin=caching_sha2_password
caching_sha2_password_digest_rounds=10000
caching_sha2_password_private_key_path=/etc/ssl/mysql/key.pem
caching_sha2_password_public_key_path=/etc/ssl/mysql/key.pem.pub

